{% extends 'base.html' %}

{% block content %}

<h1>Marvel API Home Page!</h1>

{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for cat, msg in messages %}
            {% if cat == 'user-created' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <!-- variables stored in py must be in double curly brackets -->
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            
            {% elif cat == 'auth-success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <!-- variables stored in py must be in double curly brackets -->
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock content %}
