body {
    background-color: goldenrod;
}

h1 {
    text-align: center;
    margin-top: 5vh;
}

h2 {
    text-align: center;
    margin: 12vh auto 12vh;
}

#center-nav ul{
    margin-left: 19vw;
}

#center-nav li{
    margin-left: 2vw;
}

fieldset {
    margin-bottom: 3vh;
}